<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    

  <div class="field">
    Nombre: </br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    Fórmula: </br>
    <%= f.text_field :formula %>
  </div>
  <div class="field">
    Cantidad de PCs: </br>
    <%= f.number_field :cantpcs %>
  </div>
  <div class="field">
    Examen final: </br>
    <%= f.check_box :exafinal %>
  </div>
  <div class="field">
    Proyecto: </br>
    <%= f.check_box :proyecto %>
  </div>
  <div class="actions">
    <%= f.submit "Grabar Curso" %>
  </div>
<% end %>
