<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    

  <div class="field">
    <!--<div data-role="fieldcontain" class="ui-hide-label">-->
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre %>
      <!--<label for="nombreCurso"><%= f.label :nombre %></label>
      <input type="text" name="nombreCurso" id="nombreCurso" placeholder="Nombre del Curso"/>
    </div>-->
  </div>
  <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
