<script type"text/javascript">
  $(document).ready(function(){
    $("a.save").click(function(){
      var id=$(this).attr("rel");
      $("form.edit_curso").submit();  
    });
    $("a.cancel").click(function(){
      window.location = "/cursos";
    });
  });
</script>
<% content_for :header do%>
	<div data-role="header" data-position="inline">
		<a href="#" class="cancel" data-icon="delete" data-theme="b">Cancelar</a>
		<h1>Modificar curso</h1>
		<a href="#" class="save" rel="<%=@curso.id%>" data-icon="check" data-theme="b">Save</a>
	</div>
<%end%>

<%= form_for(@curso) do |f| %>

<% if @curso.errors.any?   
    cantidadErrores = @curso.errors.count
     mensajeError=""
    if cantidadErrores ==1 
      mensajeError = "Se presentó " + cantidadErrores.to_s+ " error al grabar el curso."
    else
      mensajeError = "Se presentaron " + cantidadErrores.to_s+ " errrores al grabar el curso."
    end
    %>
     
    <div id="error_explanation">
      <h2><%= mensajeError %> </h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre %>
    </div>
    <div class="field">
    <%= f.label :formula %><br />
    <%= f.text_field :formula %>
  </div>
<% end %>