<h1>Listing cursos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Formula</th>
    <th>Cantpcs</th>
    <th>Exafinal</th>
    <th>Proyecto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nombre %></td>
    <td><%= curso.formula %></td>
    <td><%= curso.cantpcs %></td>
    <td><%= curso.exafinal %></td>
    <td><%= curso.proyecto %></td>
    <td><%= link_to 'Show', curso %></td>
    <td><%= link_to 'Edit', edit_curso_path(curso) %></td>
    <td><%= link_to 'Destroy', curso, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curso', new_curso_path %>
