<% content_for :header do%>
<h1>Listado de cursos</h1>
<%end%>
<table>
  <tr>
    <th>Nombre</th>
    <th>Formula</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.nombre %></td>
    <td><%= curso.formula %></td>

    <td><%= link_to 'Mostrar', curso %></td>
    <td><%= link_to 'Modificar', edit_curso_path(curso) %></td>
    <td><%= link_to 'Eliminar', curso, confirm: '¿Esta seguro de eliminar este curso?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo curso', new_curso_path %>
