<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @curso.nombre %>
</p>

<p>
  <b>Formula:</b>
  <%= @curso.formula %>
</p>

<p>
  <b>Cantidad de pcs:</b>
  <%= @curso.cantpcs %>
</p>

<p>
  <b>Examen final:</b>
  <%= @curso.exafinal %>
</p>

<p>
  <b>Proyecto:</b>
  <%= @curso.proyecto %>
</p>


<%= link_to 'Editar', edit_curso_path(@curso) %> |
<%= link_to 'Volver', cursos_path %>
